{% extends "base.html" %}
{% block custom_scripts %}
<script type="text/javascript">
var interval =0;
function onstart(){
interval = setInterval ( "loadDoc()", 300 );
}
function loadDoc() {
  var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            if (Math.random() >.5)
            {
              document.getElementById("score").innerHTML = this.responseText;
            }else{
                
            }
                  }
                    };
                      xhttp.open("GET", "assets/test.txt", true);
                        xhttp.send();
                        }
window.onload = onstart()
                        </script>
{% endblock custom_scripts %}
{% block content %}
<div id= scorepanel>
    <p id = score></p>
</div>
<div id="locator2">
    <a href= "{% url 'home:index' %}">
    <input type="button" name="clickMe" id="wooYayButton" 
                                        value="QUIT"></a>

</div>
{% endblock content %}
{% block scripts %}


{% endblock scripts %}

