html { 
      background: url(aa.png) no-repeat; 
  -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
    }
#locator { position: absolute; visibility: visible;
    left: 160px; top:730px; z-index: 200;}

#locator2 { position: absolute; visibility: visible; 
    left: 255px; top:730px; z-index: 200;}
#scorepanel {position: absolute; visibility: visible; 
    left: 375px; top: 275px; z-index: 200;
}
#highpanel {position: absolute; visibility: visible;
     left: 615px; top: 10px; z-index: 200;}
 #wooYayButton{   font-family: Impact;
            font-size: 49px;
                font-style: italic;
                    font-variant: small-caps;
                        font-weight: bold;
                            line-height: 53.9px;
    background-color: Transparent;
        background-repeat:no-repeat;
            border: none;
                cursor:pointer;
                    overflow: hidden;
                        outline:none;
                        color: white;
                        }
#high {font-family: Impact;
              font-size: 100px;
                   font-style: italic;
                        font-variant: small-caps;
                             font-weight: bold;
                      border: none;
                  }
#score {font-family: Impact;
        font-size: 300px;
            font-style: italic;
                font-variant: small-caps;
                    font-weight: bold;
            border: none;
                cursor:pointer;}
